.MyMedsIndex {
  margin-top: 0px;
  padding-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #e8e9f3;
  height: 200vh;
  width: 100%;
}
.addToList {
  background-color: #e8e9f3;
  height: 100vh;
}

@media only screen and (max-width: 400px) {
  .MyMedsIndex {
    width: 400px;
    height: 300vh;
    align-items: flex-start;
  }
  .productCard {
    width: 325px;
    margin-right: 350px;
  }
  .addToList {
    width: 400px;
    height: 300vh;
  }
}

@media only screen and (max-width: 770px) {
  .MyMedsIndex {
    width: 770px;
    height: 300vh;
  }
  .productCard {
    width: 325px;
    margin-left: 170px;
  }
  .addToList {
    width: 770px;
    height: 200vh;
  }
}
