@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
  font-family: 'Source Sans Pro', sans-serif;
}

.ProductIndex {
  background-color: #e8e9f3;
  height: 200vh;
  width: 100%;
  .search {
    padding-top: 10px;
    margin-bottom: 2vw;
    width: 400px;
    margin-left: 410px;
  }
}
.productCard {
  background-color: #ffffff;
  width: 345px;
}
.createProduct {
  background-color: #e8e9f3;
  height: 100vh;
}
.addToDatabase {
  background-color: #e8e9f3;
  height: 100vh;
  width: 100vw;
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 13%;
  }
}
.singleProduct {
  background-color: #e8e9f3;
  height: 100vh;
  width: 100vw;
  .image {
    width: 590px;
    height: 490px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 25px;
  }
  .text {
    padding-left: 15px;
  }
}

@media only screen and (max-width: 400px) {
  .ProductIndex {
    width: 400px;
    height: 200vh;
    .search {
      width: 350px;
      margin-left: 75px;
    }
  }
  .productCard {
    width: 325px;
  }
  .singleProduct {
    width: 400px;
    display: flex;
    flex-direction: column;
    .image {
      display: none;
    }
  }
}

@media only screen and (max-width: 770px) {
  .ProductIndex {
    width: 770px;
    .search {
      width: 400px;
      padding-left: 12px;
    }
  }
  .productCard {
    width: 325px;
    margin-left: 170px;
  }
  .singleProduct {
    .image {
      width: 360px;
      height: 260px;
      margin-top: 100px;
    }
  }
}
