@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
  font-family: 'Source Sans Pro', sans-serif;
}

.search {
  margin-left: 21vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
}
.ProductIndex {
  background-color: #e8e9f3;
}
.productCard {
  background-color: #ffffff;
}
